
@media (max-width: 1200px) {
  .cards-container { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 980px) {
  body {
    grid-template-columns: 1fr;

  }

  .transacoes { grid-template-columns: 1fr; }
  .cards-container { grid-template-columns: 1fr; }
}
